@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import "tailwindcss";

.bg{
  background: linear-gradient(to right, #dbeafe, #c7d2fe);
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-comman {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input {
  @apply w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
